.Home {
  max-width: 100%;
  height: auto;
  /* background-color: rgb(31, 31, 31); */
  background-color: rgba(0, 0, 0);
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0rem auto;
}

.product--section {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 999;
  margin-top: -10rem;
}

.anime--Carousel {
  width: 100%;
  margin-top: 0 !important;
}

.caption {
  text-align: left;
  padding-left: 3rem;
  margin-bottom: -2rem !important;
}
/*  */
