.render--genred--anime {
  max-width: 80rem;
  margin: 0 auto;
  /* height: auto; */
  /* background-color: black; */
}

/* .action--genre--render {
  text-align: left;
}

.action--genre--render .product .Product--card {
  width: 11rem;
  height: 15rem;
} */
